<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon (click)="close()" name="close-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header> -->

<div class="modal-container">
  <!-- <ion-icon (click)="close()" name="close-outline" slot="end"></ion-icon> -->
  <div class="content">
    <img src=  "assets/icon/car.png" alt="Autito" class="car-image" />
   
    
    <h2 class="modal-title">Bienvenidos a ¡TeLlevoAPP!</h2>
    
    <p class="modal-description">Somos una comunidad de estudiantes con un simple objetivo: ayudarte a llegar a tu destino de manera rápida y conveniente.</p>
    <p class="modal-description">¿Necesitas un viaje para llegar a clase o a casa? Estamos aquí para ti.</p>
    <p class="modal-description">¡TeLlevoAPP hace que llegar a tu destino sea tan fácil como presionar un botón!</p>
  </div>
</div>
