<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">
      <ion-label class="title-text">¡Te Llevo!</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <div class="logo-container">
    <img src="assets/fotoauto.jpeg" alt="Logo de la aplicación" class="app-logo" />
  </div>
  
  <form [formGroup]="credentials" class="login-form">
    <ion-item class="input-item">
      <ion-input
        type="email"
        placeholder="Correo Electrónico"
        formControlName="email"
        class="input-field"
      ></ion-input>
    </ion-item>
    <div *ngIf="credentials.get('email')?.hasError('required') && credentials.get('email')?.touched" class="error-message">
      Campo de correo electrónico requerido.
    </div>
    <div *ngIf="credentials.get('email')?.hasError('email') && credentials.get('email')?.touched" class="error-message">
      Correo electrónico no válido.
    </div>

    <ion-item class="input-item">
      <ion-input
        type="password"
        placeholder="Contraseña"
        formControlName="password"
        class="input-field"
      ></ion-input>
    </ion-item>
    <div *ngIf="credentials.get('password')?.hasError('required') && credentials.get('password')?.touched" class="error-message">
      Campo de contraseña requerido.
    </div>
    <div *ngIf="credentials.get('password')?.hasError('minlength') && credentials.get('password')?.touched" class="error-message">
      La contraseña debe tener al menos 6 caracteres.
    </div>

    <ion-button expand="full" color="primary" class="login-button" (click)="login();">Iniciar Sesión</ion-button>

    <ion-button expand="full" fill="clear" class="register-link" (click)="register();">¿No tienes una cuenta? Regístrate</ion-button>

    <ion-button expand="full" fill="clear" class="forgot-password-link" (click)="passwordRecover();">¿Has olvidado tu contraseña?</ion-button>

  </form>
</ion-content>
