/* password-recover.page.scss */

ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 20px; /* Añadido para un mejor espaciado interior */
    width: 80%; /* Ancho personalizado para el card */
    max-width: 400px; /* Ancho máximo personalizado para el card */
    margin: 30px auto; /* Centra el card horizontalmente en la pantalla */
  }
  
  ion-card-title {
    font-size: 18px; /* Tamaño de fuente personalizado */
    text-align: center; /* Texto centrado */
    color: #f4f4f4; /* Color de título personalizado */
    font-size: 42px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


  ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4; /* Color de fondo personalizado */
  }
  
  form {
    width: 80%;
    max-width: 300px; /* Ancho máximo del formulario */
    text-align: center;
  }
  
  ion-item {
    margin-bottom: 20px;
  }
  
  ion-button {
    margin-top: 20px;
    background-color: #007bff; /* Color de fondo personalizado */
    color: #fff; /* Color de texto personalizado */
    font-weight: bold;
    border: none;
    border-radius: 8px;
    width: 100%; /* Asegura que el botón ocupe el ancho completo del formulario */
  }
  
  ion-button.back-button {
    background-color: transparent;
    color: #007bff; /* Color de texto personalizado */
  }
  
  .error-message {
    color: #f00; /* Color de texto personalizado para mensajes de error */
  }
  
  /* Añade reglas de estilo para pantallas más pequeñas */
  @media screen and (max-width: 480px) {
    ion-label {
      font-size: 14px; /* Reduzca el tamaño de fuente de las etiquetas */
    }
  
    ion-item {
      margin-bottom: 10px; /* Reduzca el margen inferior de los elementos de formulario */
    }
  }
  