<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-title">
      TeLlevoAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <div class="center-container">
    <div class="home-container">
      <ion-text class="welcome-text">Bienvenido a TeLlevoAPP</ion-text>
      <ion-text class="description-text">La solución para organizar tu viaje de regreso a casa</ion-text>
      <ion-button (click)="goToLogin()" expand="full" class="login-button">Iniciar Sesión</ion-button>
    </div>
  </div>
</ion-content>
